# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs stuff.
.dir-locals.el
GPATH
GRTAGS
GTAGS

# Temporary files.
*~
\#*
.\#*

# Build/install folders.
build
install
